/*
Theme Name: Striking Responsive
*/


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/


@font-face {
    font-family: 'danielregular';
    src: url('fonts/daniel-webfont.eot');
    src: url('fonts/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daniel-webfont.woff') format('woff'),
         url('fonts/daniel-webfont.ttf') format('truetype'),
         url('fonts/daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
	list-style:none;
}
.widget-title {
	color: #222;
	list-style:none;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}
/**************menu************************/
#navigation .menu > li:hover > a,
#navigation .menu > li:hover > a:active,
#navigation .menu > li:hover > a:visited {
	color: #74edb0}
#navigation .menu > li.current-menu-item > a,
#navigation .menu > li.current-menu-item > a:visited,
#navigation .menu > li.current-menu_item > a,
#navigation .menu > li.current-menu_item > a:visited,
#navigation .menu > li.current-menu-ancestor > a,
#navigation .menu > li.current-menu-ancestor > a:visited,
#navigation .menu > li.current_page_item > a,
#navigation .menu > li.current_page_item > a:visited,
#navigation .menu > li.current_page_ancestor > a,
#navigation .menu > li.current_page_ancestor > a:visited,
#navigation .menu > li.current-page-item > a ,
#navigation .menu > li.current-page-item > a:visited,
#navigation .menu > li.current-page-ancestor > a,
#navigation .menu > li.current-page-ancestor > a:visited {
	color: #74edb0;
}#navigation > ul > li {
	height: 60px;
}
#navigation > ul > li > a {
	height:auto;
	line-height: 100%;
	padding: 10px 15px;
	margin: 10px 5px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#navigation .menu > li > a, #navigation .menu > li > a:visited {
	font-size: 17px;
	color: #ffffff;
	background-color: #029048;
}
#navigation ul li.hover ul li a, #navigation ul ul li a, #navigation ul ul li a:visited {
	font-size: 14px;
	color: #ffffff;
}
#navigation ul li ul {
	background-color: #26a866;
}
#navigation .sub-menu .current-menu-item > a,
#navigation .sub-menu .current-menu-item > a:visited,
#navigation .sub-menu .current-menu_item > a,
#navigation .sub-menu .current-menu_item > a:visited,
#navigation .sub-menu .current-menu-ancestor > a,
#navigation .sub-menu .current-menu-ancestor > a:visited,
#navigation .sub-menu .current-page-item > a,
#navigation .sub-menu .current-page-item > a:visited,
#navigation .sub-menu .current-page-ancestor > a,
#navigation .sub-menu .current-page-ancestor > a:visited,
#navigation .sub-menu .current_page_item > a,
#navigation .sub-menu .current_page_item > a:visited,
#navigation .sub-menu .current_page_ancestor > a,
#navigation .sub-menu .current_page_ancestor > a:visited  {
	color: #ffffff;
	background-color: #26a866;
}
#navigation ul ul li a:hover, #navigation ul ul li a:active,
#navigation ul li.hover ul li a:hover, #navigation ul li.hover ul li a:active {
	color: #ffffff !important;
}
#navigation ul li ul li a:hover, #navigation ul ul li a:hover {
	background-color: #029048 !important;
}
#navigation ul li ul li {
    display: list-item;
    float: none;
	list-style:none;
    margin: 0;
}
#navigation .menu li a{ text-decoration:none;}
 ul.menu li ul {
    box-shadow: 1px 3px 3px #333;
}
ul.menu li ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #bbbbbb #bbbbbb;
    border-image: none;
    border-right: 1px solid #bbbbbb;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left:0;
    padding: 3px 0;
    position: absolute;
    visibility: hidden;
    z-index: 201;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 200;
}
ul.menu li ul li a {
    margin: 0;
    padding: 5px 15px 7px;
    width: 200px;
}
ul.menu li a {
    display: block;
    line-height:20px;
    overflow: hidden;
    padding: 0 15px;
    text-decoration: none;
}
#navigation {
    right: 5px;
    top: 70px;
}
#navigation {
    bottom: 0;
    height: 60px;
    position: absolute;
    right: -15px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 200;
}
ul.menu li {
    position: relative;
	float:left;
}
ul.menu li.hover ul{ display:block; visibility:visible;}
/*****************my header*****************/
#header {
	z-index: 200;
	position: relative;
    background-attachment: scroll;
    background-color: #fefefe;
    background-image: url("images/header2.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 143px;
}
.inner {
    height: 100%;
    margin: 0 auto;
	float:none;

}
/* Logo & Sitename
---------------------------------------------------------- */
#logo{
	position: absolute;
	left: 0px;
}
/*-------------------------*/
#certheader {
    float: right;
    margin: 10px 7px 0 0;
}
/***************home page slider**********************/
#feature {
    background-attachment: scroll;
    background-color: #009b4c;
    background-image: url("images/bg.jpg");
    background-position: center top;
    background-repeat: repeat;
}

#feature .inner.col-sm-9.col-xs-12{ padding:25px 0;}

#feature .top_shadow {
    background: url("images/site_layout_sprites.png") repeat-x scroll 0 0 transparent;
    font-size: 0;
    height: 10px;
    line-height: 10px;
    overflow: hidden;
}
#feature .bottom_shadow {
    background: url("images/site_layout_sprites.png") repeat-x scroll 0 -10px transparent;
    font-size: 0;
    height: 9px;
    line-height: 9px;
}
.kwicks {
		padding:0;
		width:100%;
		height: 300px;
		overflow:hidden;
			}
.kwicks > li {
		height: 300px;
		overflow:hidden;
		/* overridden by kwicks but good for when JavaScript is disabled */
		margin-left: 5px;
		list-style: none outside none;
		float: left;
			}

	/* Accordion Styles */
/*********  15-7-2014******************************************/
.accordion {
 border:1px solid #ddd;
	margin-bottom:20px;
}
.accordion-title {
  color:#666;
	background-color:#f5f5f5;
	margin:0;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
	border:1px solid #fff;
	border-bottom:none;
	cursor:pointer;
	border-bottom:1px solid #ddd;
}
.accordion-title:hover {}
/*.accordion-title:first-child {border: none;}*/
.accordion-title.open {cursor: default;}
.accordion-content:first-child {display:block;}
.accordion-content {border-bottom:1px solid #ddd;
	display:none;
	padding:10px 15px;
	font-size:12px;
	overflow: hidden;}
	#crumbs { font-size:11px;}
#crumbs a{  color: #999999; }
#crumbs .current { color: #999999;}
.woo_prroductdate{ font-weight:bold; color:#000; /*text-align:center;*/ padding:13px;}
.woo_prroducttime{ font-weight:bold; color:#000;  /*text-align:center; */padding:13px;}
.woo_prroduct_des{ font-weight:bold; color:#000; /* text-align:center;*/ padding:13px;}


.woo_prroduct_outer{ height:45px; background:#f0f0f0;  border-radius: 4px; }

.woo_prroduct_outer:nth-child(2n+2) {
    background:#e4e4e4;
}
.not_bold{ font-weight:normal;}
.woo_prroductlink { padding:13px;}
.blog_set h1{ color:#fff;  font-family: 'danielregular';}
.content h4{color:#007d3d; font-size:12px; font-weight:bold;}
.date_onsingel h3 {
    color: #007d3d;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0;
}
.date_onsingel span {
    font-weight: normal;
	text-align:right;
}
.fnone{ float:none; }
.static_result .textleft{ text-align:left;}
.inside label {
    float: left;
    width: 200px;
}
#my_meta_box_text{ width:50%;}
.blog_set h3{ color:#fff; font-size:25px; font-family: 'danielregular'; font-weight: bold;}
.page-title{ color: #007d3d;
    display: inline-block;
    font-family: 'danielregular';
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0.6em;
    position: relative;
    vertical-align: middle; width:100%;}
	.bmob_static_data{ display:none;}
	.cycloneslider-template-responsive img { width:100%;}


.table_style th {
    background-color: #eeeeee;
    color: #555;
    font-size: 14px;
    font-weight: normal;
    padding: 12px;
    text-align: center;
}
table, td, th {
    vertical-align: middle;
}

.table_style td {
    border-top: 1px dashed #fff;
    color: #666;
    padding: 10px;
    text-align: center;
}
table, td, th {
    vertical-align: middle;
}
.table_style table {
    border: 1px solid #fff;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
table, td, th {
    vertical-align: middle;
}
.table_style {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}
.table_style p:first-child{ margin:0; padding:0;}
#tab-description h2{     color: #007d3d;

    font-family: 'danielregular';
    font-size: 30px;
    font-weight: normal;
       vertical-align: middle;}
	   .product_title{
	   color: #007d3d;

    font-family: 'danielregular';
    font-size: 30px;
    font-weight: normal;
       vertical-align: middle;}
	.container { max-width:960px;}
	.for_facebook { position:relative;}
.facebook_social_icon {
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1;
}
/*********trilok 15-7-2014 end******************************************/


/****************/
.clear{ clear:both;}
/***********home page content***********************/
.page_top{ background:url("images/site_layout_sprites.png") repeat-x scroll 0 -159px transparent; height:40px;}
.page_bottom {
    background: url("images/site_layout_sprites.png") repeat-x scroll 0 -20px transparent;
    height: 30px;
}
.archive-header h2, .content h2{
	font-size: 30px;
	color: #007d3d;
	display: inline-block ;
    position: relative ;
    vertical-align: middle;
	font-weight: normal;
    margin-bottom: 0.6em;
	font-family: 'danielregular';
}
.content p{ font-size:12px;}

.content_bottum h3{ color:#017d3f }
.news_top{ background:#038644;}
.left_date{background:#029048;  font-weight:bold; color:#fff; font-size:12px; padding:8px 15px; float:left;}
.read_more{ background:#029048; color:#fff; font-size:12px; padding:8px 15px;}
.right{ float:right;}
.read_more a{color:#fff; text-decoration:none;}
.read_more a span{ padding-left:5px;}
.news{ margin-bottom:10px;}
.news_bottum {
 padding: 5px 15px;
 border-bottom:1px solid #eeeeee;
 border-left:1px solid #eeeeee;
 border-right:1px solid #eeeeee;}

.openi{ border-color: #eeeeee #eeeeee #029048;
    border-style: solid;
    border-width: 1px 1px 5px;
    padding: 30px 12px;
	background:#f7f7f7; }
/***********home page sidebar***********************/
.right_sidebar{
    background: url("images/sidebar_sprites.png") no-repeat scroll left -50px transparent;
    min-height: 100px;
    overflow: hidden;
    padding-top: 20px;
	padding-left:25px;
}
.right_sidebar.col-sm-4 a {
    color: #666666;
	text-decoration:none;
}
.right_sidebar.col-sm-4 a:hover{color: #333333;}
.wp-caption img{ width:96%;}
.textwidget {
    margin-bottom: 30px;
}

.contact h1 {
    color:#fff;  font-family: 'danielregular';
}

.contact_info_wrap .icon_text, .contact_info_wrap .contact_address {
    padding-left: 26px;
}
.icon_text.green {
    background-image: url("images/icons_green.png");
}
.icon_cellphone {
    background-position: -30px -390px;
}
.icon_email {
    background-position: -360px -60px;
}
.icon_link {
    background-position: -180px -240px;
}
.icon_home {
    background-position: -390px -30px;
}
.contact_info_wrap .contact_zip {
    padding-left: 5px;
}
/******footer*****************/
#footer {
	/* background: url("images/footer.png") no-repeat scroll 50% 0 #007d3d;*/
    color: #ffffff;
    font-size: 12px;
}
.footer_shadow {
    background: url("images/site_layout_sprites.png") repeat-x scroll 0 -49px transparent;
    font-size: 0;
    height: 10px;
    line-height: 10px;
    overflow: hidden;
}
#footer .inner {
    overflow: hidden;
    padding-top: 30px;
	padding-bottom:40px;
}
#footer_bottom {
    background: url("images/site_layout_sprites.png") repeat-x scroll 50% -58px transparent;
    letter-spacing: 1px;
}
#footer_bottom .inner {
    padding-top: 12px;
	padding-bottom:12px;
}
#copyright {
    color: #ffffff;
    font-size: 14px;
    font-size: 13px;
    line-height: 1.5em;
    min-height: 1.5em;
}
.mobile_menu{ display:none;}
@media (max-width:1044px) { #slider{ width:100% !important; }


.formobflot{ float:left;}
	.bmob_static_data{ display:block;}
	.woo_prroduct_outer:first-child{ display:none;}
	.bmob_static_data {
    float: left;
    padding: 13px;
    width: 50%;
	font-weight: bold;
}
		.woo_prroductdate.col-sm-2.formobflot {
    width: 50%;
	    text-align: left;

}
.woo_prroducttime.col-sm-2.formobflot {
     width: 50%;
	     text-align: left;

}
.woo_prroduct_des.col-sm-6.formobflot {
     width: 50%;
	     text-align: left;

}
.woo_prroductlink.col-sm-2.formobflot {
       text-align: left;
     width: 50%;
}
.woo_prroduct_outer { height:auto;}
}
@media (max-width:768px) {
	.inner.col-sm-9.col-xs-12.formob { width:100%;}
}

@media (max-width:620px) {
	#navigation{ right:0;}

}
@media (max-width:500px) {
	#certheader {
    float: none;
    text-align: center;
    }
#logo {
    position: relative;
    text-align: center;
}
#header{
 background-position: center bottom;
 padding-bottom: 10px;
 height:auto;
       }
.mobile_menu{ display:block; margin:10px 0;}
.mob_340 {
    background: none repeat scroll 0 0 #038644;
    border: medium none;
    color: #fff;
    padding: 5px 0;
    width: 100%;
}
.right_sidebar.col-sm-4.col-xs-12 {
    padding-left: 5px;
}.inner > .col-xs-12 {
    padding: 0;
}
.menu-menu-container{ display:none;}
.facebook_social_icon{ position:static; text-align:right;}
}
/*@media (max-width:400px) { .woo_prroduct_outer{ height:60px;} .woo_prroduct_outer:first-child{height:45px;}

.woo_prroductdate.col-sm-2.formobflot ,.woo_prroducttime.col-sm-2.formobflot, .woo_prroduct_des.col-sm-6.formobflot, .woo_prroductlink.col-sm-2.formobflot {
  font-size:10px;
}


 }*/


 /********************Bosbouw page css*********************/
 .post_img .attachment-bosbouw_img.wp-post-image {
    border: 1px solid #fff;
    border-radius: 8px;
	width:100%;
	height:auto;

}
.post_ttitle > a {
    color: #017d3f;
	font-weight:bold;
	font-family: sans-serif;
    font-size: 18px;
}

.post_ttitle {
    padding: 13px 0 5px 2px;
}
.read_more_button {
    padding: 0 0 5px 2px;
}
.posts_contents {
    min-height: 245px;
    padding-right: 33px;
}
.read_more_button > a {
    color: black;
}
.page_title {
    color: #007d3d;
    display: inline-block;
    font-family: "danielregular";
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0.6em;
   margin-top: 20px;

}

.page_titles {
    color: #fff;
    display: inline-block;
    font-family: "danielregular";
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0.6em;


}
.post_images > img {
    /*border: 6px solid #ededed;*/
    height: auto;
    width: 100%;
	 margin-bottom: 10px;
}
.post_video iframe {
    border: 6px solid #ededed;
    width: 100%;



}
.post_video {
    padding-bottom: 25px;
}
.post_content p {
    font-size: 14px;
}
.headerimg .attachment-post-thumbnail.wp-post-image {
    width: 100%;
	  height: 100%;
}
.wp-pagenavi .current {
    font-size: 12px !important;
}
.wp-pagenavi a:hover {
    font-size: 12px !important;
}
.wp-pagenavi a, .wp-pagenavi span {

    padding: 0 5px !important;

}
.videoWrapper {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 25px;
 height: 0;
margin-top:10px;
}
.videoWrapper object,
.videoWrapper embed, .videoWrapper iframe    {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
@media (max-width:1100px)
{
	.posts_contents {
    min-height: 222px;

}
	}
@media (max-width:1000px)
{
	.posts_contents {
    min-height: 205px;

}
	}
@media (max-width:991px)
{
.posts_contents {
    min-height: 265px;
}
}
@media (max-width:875px)
{
.posts_contents {
    min-height: 245px;
}
}
@media (max-width:768px)
{

.bx-wrapper {
    max-width: 400px !important;
}
.post_video {
    max-width: 423px;

}
.posts_contents {

    padding-bottom: 10%;
}
}
@media (max-width:767px)
{
	.post_content {
    margin-top: 30px;
}
.posts_contents {
    float: none;
    margin: auto;
    width: 63%;
}

}

@media (max-width:530px)
{
.post_video iframe {
   height:100%;
}
}
@media (max-width:480px)
{
.posts_contents {

    width: 100%;
}
}

body.single .sku_wrapper {
  display: none;
}

body.single p.price {
display:none;
}

.pricewc {
  color: #017d3f;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.pricesp {
  color: #017d3f;
  font-family: sans-serif;
}

.priceh3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
}


.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 8px;
}

.orderby option[value="price"]{
   display: none;
}

.orderby option[value="price-desc"]{
   display: none;
}

.woocommerce div.product div.images img {
    border-radius: 8px;
}

.slick-slider {
    border: none;
}
.size-shop_thumbnail {
    width: 100px !important;
    height: 100px !important;
}
.vacation-notification__wrapper {
    background: rgb(0,125,61);
    background: -moz-linear-gradient(-45deg,  rgba(0,125,61,1) 0%, rgba(25,98,61,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(0,125,61,1) 0%,rgba(25,98,61,1) 100%);
    background: linear-gradient(135deg,  rgba(0,125,61,1) 0%,rgba(25,98,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007D3D', endColorstr='#19623D',GradientType=1 );
    padding: 30px;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 0 25px 0;
}
.vacation-notification__title {
    font-size: 1.3em;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    padding-bottom: 15px;
}
.vacation-notification__text {
    margin-top: -5px;
    font-weight: 100;
    color: #E4EDC6;
    letter-spacing: 1px;
}
